.Phonetic {
  height: 50px;
}

.audio {
  border: 1px solid #ee9494;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: bold;
  margin-right: 10px;
  border-radius: 20px;
  transition: all 150ms ease-in-out;
  color: #ee9494;
}

.audio:hover {
  background: #ee9494;
  color: white;
}
